/*Limpiando*/

/* Selecciona TODOS los elementos */
*,
*::before,
*::after {
  margin: 0; /* Quita márgenes externos */
  padding: 0; /* Quita rellenos internos */
  box-sizing: border-box; /* ¡VITAL! Hace que el padding no sume al ancho total */
}

html {
  scroll-behavior: smooth; /* Hace que al saltar entre secciones el scroll sea suave */
}

body {
  min-height: 100vh; /* Alto del vieport - Que siempre ocupe al menos el alto de la pantalla */
  line-height: 1.5; /* Mejora la lectura del texto */
  -webkit-font-smoothing: antialiased; /* Hace que las letras se vean más finas y nítidas */
  font-family:
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* O la fuente que elijas */
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden; /* Evita el scroll horizontal molesto por errores de píxeles */
}

/* Evita que las imágenes se salgan de su contenedor */
img,
picture,
video,
canvas,
svg {
  display: block; /* Quita un espacio extraño que dejan abajo las imágenes */
  max-width: 100%;
}

/* Quita los puntos de las listas (ul/ol) */
ul,
ol {
  list-style: none;
}

/* Quita la línea de abajo de los enlaces y les da un color base */
a {
  text-decoration: none;
  color: inherit; /* Hereda el color del texto del padre */
}

/* Hace que los botones y inputs se vean iguales en todos lados */
button,
input,
textarea {
  font: inherit; /* Obliga a usar la misma fuente que el body */
  border: none;
  outline: none; /* Quita el borde azul feo al hacer clic */
}

button {
  cursor: pointer; /* Siempre pone la manito al pasar el mouse */
}

/* --------------------------------------------------------------------------------------- */

body {
  background: #1a1a2e;
  color: #fff;
  font-family: sans-serif;
}

.main-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.form-card {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.logs {
  background: #16213e;
  padding: 10px;
  border-left: 5px solid #0f3460;
  margin-bottom: 20px;
  color: #00d2ff;
  font-family: monospace;
}

.critical-error {
  border-color: #e94560;
  color: #ff4d4d;
}

.grid-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  background: #0f3460;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #533483;
}

.server-card {
  border: 2px solid #e94560;
  background: #1a1a2e;
}

.laptop-card {
  border: 2px solid #beb928;
  background: #1a1a2e;
}

.desktop-pc-card {
  border: 2px solid #b0e71a;
  background: #1a1a2e;
}

.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.card {
  padding: 15px;
  border-radius: 8px;
  background: #2d3436;
  color: white;
}

.alerta {
  border-left: 8px solid #d63031;
} /* Sí la RAM es < 8GB */

.optimo {
  border-left: 8px solid #00b894;
} /* Sí la RAM es >= 8GB */
