/*Limpiando*/

/* Selecciona TODOS los elementos */
*,
*::before,
*::after {
  margin: 0; /* Quita márgenes externos */
  padding: 0; /* Quita rellenos internos */
  box-sizing: border-box; /* ¡VITAL! Hace que el padding no sume al ancho total */
}

html {
  scroll-behavior: smooth; /* Hace que al saltar entre secciones el scroll sea suave */
}

body {
  min-height: 100vh; /* Alto del vieport - Que siempre ocupe al menos el alto de la pantalla */
  line-height: 1.5; /* Mejora la lectura del texto */
  -webkit-font-smoothing: antialiased; /* Hace que las letras se vean más finas y nítidas */
  font-family:
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* O la fuente que elijas */
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden; /* Evita el scroll horizontal molesto por errores de píxeles */
}

/* Evita que las imágenes se salgan de su contenedor */
img,
picture,
video,
canvas,
svg {
  display: block; /* Quita un espacio extraño que dejan abajo las imágenes */
  max-width: 100%;
}

/* Quita los puntos de las listas (ul/ol) */
ul,
ol {
  list-style: none;
}

/* Quita la línea de abajo de los enlaces y les da un color base */
a {
  text-decoration: none;
  color: inherit; /* Hereda el color del texto del padre */
}

/* Hace que los botones y inputs se vean iguales en todos lados */
button,
input,
textarea {
  font: inherit; /* Obliga a usar la misma fuente que el body */
  border: none;
  outline: none; /* Quita el borde azul feo al hacer clic */
}

button {
  cursor: pointer; /* Siempre pone la manito al pasar el mouse */
}

/* ------------------------------------------------------------------------------ */
.panel-control {
  padding: 0 0 0 0;
}

.titulo {
  height: 100px;
  display: flex;
  padding: 0 10px 0 10px;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}

.controles {
  margin: 20px 0 20px 0;
  display: grid;
  padding: 0 10px 0 10px;
  grid-auto-flow: row;
  align-content: start;
  justify-content: start;
  justify-items: start;
  gap: 25px;
}

.control {
  background: linear-gradient(135deg, #0984e3, #6c5ce7);
  color: white;
  padding: 12px 22px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.control:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 18px rgba(0,0,0,0.15);
}

.control:active{
    transform:scale(.97);
}

.monitor {
  background: #1e1e1e;
  color: #00ff00; /* Verde terminal */
  padding: 20px;
  font-family: "Courier New", monospace;
  border-radius: 8px;
  margin-top: 20px;
  min-height: 150px;
}

.alerta-roja {
  color: #db7836;
  font-weight: bold;
  border: 1px solid #db7836;
}
.alerta-verde {
  color: #0ea70e;
}
